/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/

.hidden {
  display: none!important;
}
body {
  background: linear-gradient(#134d71, #78a7c6, #f7e4bf);
  height: 100vh;
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  font-size: 35px;
  padding-top: 15px;
  padding-bottom: 45px;
}
h2 {
  font-size: 30px;
  margin-bottom: 5px;
}
.form-box {
  display: flex;
	justify-content: space-around;
	align-content: space-between;
}
form {
  background-color: #ffffff;
  margin-bottom: 45px;
  padding-top: 20px;
  padding-bottom: 0px;
  border-radius: 10px;
  width: 600px;
  height: 100px
}
.buttons {
  font-size: 20px;
  font-style: italic;
  color: #000000;
  display: flex;
  justify-content: space-around;
}
input {
  margin-bottom: 40px;
  margin-right: -175px;
  margin-top: 7px;
  width: 60px;

}
.recieve {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  padding-top: 0px
}
#receive-message-button {
  background-color: #134d71;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  margin-right: 0px;
  height: 25px;
  width: 150px;
}
.sound-box {
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
  font-size: 22px;
  margin-top: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 125px
}
.meditating-human {
  height: 75px;
}
#clear-message-button {
  background-color: #134d71;
  border-radius: 5px;
  color: #ffffff;
  font-size: 15px;
  margin-right: 0px;
  height: 30px;
  width: 125px;
}
